.venv
venv
.env
env

target/
dbt_packages/
logs/
profiles.yml
*.duckdb

.DS_Store

.user.yml

.ruff_cache
__pycache__
jaffle.duckdb
main.py

docs/site/node_modules/
docs/site/.vitepress/dist/
docs/site/.vitepress/cache/
